@import url(https://db.onlinewebfonts.com/c/2aea0ac500c896188f9ad191c231029c?family=Orpheus+Pro);
@import "tailwindcss";




body {
  font-family: 'Orpheus Pro', serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #FC221C;
}



